<div class="row chat-area">

  <!-- left room listing -->

  <div class="medium-4 large-3 columns chatrooms" id="chatrooms">
    <dl>
      <%= render collection: @rooms, partial: 'chat_room_block' %>
    </dl>

    <%= link_to "+ add room", new_chat_room_path, class: 'text-center add_room', id: 'add_room' %>
  </div>

  <!-- right message area -->

  <div class="medium-8 large-9 columns messages" id="messages_container">
    <%= render @active_room %>

    <!-- message form -->
    <%= form_tag messages_path(room: @active_room.url_param) do %>
      <div class="input-group">
        <%= text_field_tag :new_message, '', class: 'input-group-field' %>
        <div class="input-group-button">
          <%= submit_tag 'Send', class: 'button' %>
        </div>
      </div>
    <% end %>

    <br /><br />

  </div>
</div>
