<h1>Join a chat room</h1>

<h3>Joined rooms</h3>
<%= render 'rooms_block_list', rooms: @rooms %>

<h3>Available rooms</h3>
<%= render 'rooms_block_list', rooms: @available_rooms, join_buttons: true %>

<hr />

<h3>Create New Room</h3>
<%= simple_form_for @room do |f| %>
  <%= f.input :name %>
  <%= f.input :tagline %>
  <%= f.submit 'Create room' %>
<% end %>
